# Helm
if type -q helm
    abbr --add -- hl 'helm list'
    abbr --add -- hla 'helm list -A'
    abbr --add -- hi 'helm install'
    abbr --add -- hu 'helm upgrade'
    abbr --add -- hr 'helm rollback'
    abbr --add -- hd 'helm delete'
end
